.kartya{
    background: linear-gradient(to bottom right, #cffbb2, rgb(111, 219, 111));
    border: outset 5px rgba(0, 128, 0, 1);
    border-radius: 30px;
    padding: 10px; /*belső*/
    padding-left: 5px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 0px;
height: auto;
}
.belso_tartalom_mezo_szinatmenet{
  padding-top: 0px;
}
.koros-maros-kartya{
  margin-top: 7px;
}

.logok{
    height: 120px;
    padding: 10px;
    float: right;
    /*A logó kör - hogy jobban hozzásimuljon a szöveg*/
    border-radius: 50%;
    shape-outside: circle(50%);
}
.tartalom_resz_cim_legfelul{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 9px;
}
.tartalom_resz_cim_h2{
  text-align: center;
}
.tartalom_resz_cim{
  color: #247606;
  margin: 20px;
}
a.tartalom_resz_cim:link {
  text-decoration: none;
  color: darkgreen;
}
a.tartalom_resz_cim:visited {
  text-decoration: none;
  color: darkgreen;
}
a.tartalom_resz_cim:hover {
  text-decoration: underline;
  color: rgb(4, 172, 4);
}
a.tartalom_resz_cim:active {
  text-decoration: underline;
  color: rgb(4, 172, 4);
}

.leiras{
  margin-right: 5px;
  margin-left: 20px;
  font-size: 17px;
  line-height: 130%;
  text-align: justify;
  /*hyphens: auto; /*szavak elválasztása*/
}

